<div class="topic highlight">
  <div class="title">
    <%= topic.title %>
  </div>
  <div class="date">
    <%= topic.created_at %>
  </div>
  <div class="body">
    <%= topic.body %>
  </div>
</div>
