<div class="topic highlight">
  <div class="title">
    <%= link_to topic.title, new_topic_comment_path(topic) %>
  </div>
  <div class="date">
    <%= topic.created_at %>
  </div>
  <div class="body">
    <%= topic.body %>
  </div>
</div>
